<ul class="status-messages">
  {{#each model key="@index" as |incidents index|}}
    <li>
      <h4>{{timeFormat (doMath endDate '-' index) 'MMM DD, YYYY'}}</h4>
      {{#each incidents key="@index" as |incident|}}
        <div>
          <p class="status-time">{{timeFormat incident.time 'HH:mm:ss'}} PDT</p>
          <p class="{{classnameSwitch incident.level 'Critical' 'Warning'}} status-message">{{incident.message}}</p>
        </div>
      {{else}}
        <div>
          <p class="status-time">00:00 PDT</p>
          <p class="status-message">All systems reporting at 100%</p>
        </div>
      {{/each}}
    </li>
  {{/each}}
</ul>