<ul class="tabs">
  {{#each ranges as |r|}}
    <li class="{{if (eq r range) 'selected'}}">
      {{link-to (changeCase r 'split' '_') 'status.dashboard' r}}
    </li>
  {{/each}}
</ul>

{{#each dataset as |data index|}}
  <div class="graph graph-${index}">
    <div class="graph-header">
      <h3>{{data.name}}</h3>
      <p>{{medianValue data.name data.values}}</p>
    </div>
    <div class="graph-details">
      {{chart-line dataset=data index=index range=range}}
    </div>
  </div>
{{/each}}